<!DOCTYPE html>
<html>
<head>
  <title>find.me</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <nav class="navbar">
    <a href="main/index.html" class="logo"><img src="../static/images/findmetxt-removebg-preview.png"></a>
    <div class="navbar-left">
      
        <div class="search-box">
            <img src="../static/images/search.png">
            <input type="text" placeholder="Search">
        </div>
    </div>
    
    <div class="navbar-center">
        <ul>
            <li><a href="#" class="active-link"><img src="../static/images/home.png"> <span>Home</span></a></li> 
	          <li><a href="{{ url_for('main.user', username=current_user.username) }}"><img src="../static/images/message.png">My Profile</a></li>
            <li><a href="{{ url_for('auth.register') }}"><img src="../static/images/connect.png"> <span>Sign Up</span></a></li>
            <li><a href="{{ url_for('auth.login') }}"><img src="../static/images/network.png">  <span>Log in</span></a></li>
          </ul>
        
    </div>
  </nav>
  <!-------- navbar end ------------->



  <!-----------------body start---------------->
  <section>
    <div class="gpt3__header section__padding" id="home">
      <div class="gpt3__header-content">
        <h1 class="gradient__text">Let&apos;s Create an amazing profile for you with Findme</h1>
        <p>Find your friends and family easily with find.me</p>

        <div class="gpt3__header-content__input">
          <a href="{{ url_for('auth.register') }}" class="button">Get Started Now</a>
        </div>

        <div class="gpt3__header-content__people">
          <img src="../static/images/people.png" />
          <p>1,600 people requested access a visit in last 24 hours</p>
        </div>
      </div>

      <div class="gpt3__header-image">
        <img src="../static/images/ai.png" />
      </div>
    </div>
  
    <div class="choose">
      <div class="video-container">
        <video src="../static/images/share.mp4" autoplay loop muted></video>
        <img src="../static/images/Gold_Luxury_Initial_Circle_Logo-removebg-preview.png" alt="logo">
      </div>
      <h2>Why should you Choose Our Website ?</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <Button text="Read More" blue ></Button>
    </div>
  </section>


  



  <!-----------------body end---------------->

  <!-----------------footer start---------------->
  <footer>
    <div class="container">
      <div class="row">
        <div class="brand">
          <img src="../static/images/Gold_Luxury_Initial_Circle_Logo-removebg-preview.png" alt="logo" class="logo">
        </div>
        <p class="description">Thee-Mechanics FINDME</p>
      </div>
      <div class="row">
        <h3>Our Services</h3>
        <ul class="list">
          <li>Service 1</li>
          <li>Service 2</li>
          <li>Service 3</li>
        </ul>
      </div>
      <div class="row">
        <h3>Company</h3>
        <ul class="list">
          <li>About Us</li>
          <li>FAQ</li>
          <li>Terms &amp; Conditions</li>
        </ul>
      </div>
      <div class="row">
        <h3>Contact Us</h3>
        <ul>
          <li>
            <span>123 Main St, Anytown USA</span>
          </li>
          <li>
            <span>contact@example.com</span>
          </li>
          <li>
            <span>+1 (555) 555-1234</span>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  
</body>
</html>
