<!DOCTYPE html>
<html>
<head>
  <title>find.me</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-left">
      <h1 class="fmeh1">FINDME</h1>
      <a href="main/index.html" class="logo"><img src="../static/images/Gold_Luxury_Initial_Circle_Logo-removebg-preview.png"></a>
    
        <div class="search-box">
            <img src="../static/images/search.png">
            <input type="text" placeholder="Search">
        </div>

    </div>
    
    <div class="navbar-center">
        <ul>
            <li><a href="#" class="active-link"><img src="../static/images/home.png"> <span>Home</span></a></li> 
	    <!-- <li><a href="#"><img src="../static/images/network.png"> <span>My Network</span></a></li> -->
	    <li><a href="{{ url_for('main.user', username=current_user.username) }}"><img src="../static/images/network.png"> <span>My Profile</span></a></li>
            <li><a href="#"><img src="../static/images/jobs.png"> <span>jobs</span></a></li>
        </ul>
        <div class="authentication">
	  <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
	  <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
        </div>
    </div>
  </nav>
<!-------- navbar end ------------->

<!-----------------body  -------------->
<section>
  <div class="gpt3__header section__padding" id="home">
    <div class="gpt3__header-content">
      <h1 class="gradient__text">Let&apos;s Create an amazing profile for you with Findme</h1>
      <p>Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment. Party we years to order allow asked of.</p>

      <div class="gpt3__header-content__input">
        <input type="email" placeholder="Your Email Address" />
        <button type="button">Get Started</button>
      </div>

      <div class="gpt3__header-content__people">
        <img src="../static/images/people.png" />
        <p>1,600 people requested access a visit in last 24 hours</p>
      </div>
    </div>

    <div class="gpt3__header-image">
      <img src="../static/images/ai.png" />
    </div>
  </div>
</section>

 <video src="../static/share.mp4" muted loop autoplay  controls="false" ></video>


<!-----------------body end---------------->
  
</body>
</html>
