<!DOCTYPE html>
<html>
<head>
  <title>find.me</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <nav class="navbar">
    <a href="main/index.html" class="logo"><img src="../static/images/findmetxt-removebg-preview.png"></a>
    <div class="navbar-left">
      
        <div class="search-box">
            <img src="../static/images/search.png">
            <input type="text" placeholder="Search">
        </div>
    </div>
    
    <div class="navbar-center">
        <ul>
            <li><a href="#" class="active-link"><img src="../static/images/home.png"> <span>Home</span></a></li> 
	          <li><a href="{{ url_for('main.user', username=current_user.username) }}"><img src="../static/images/message.png">My Profile</a></li>
            <li><a href="{{ url_for('auth.register') }}"><img src="../static/images/connect.png"> <span>Sign Up</span></a></li>
            <li><a href="{{ url_for('auth.login') }}"><img src="../static/images/network.png">  <span>Log in</span></a></li>
          </ul>
        
    </div>
  </nav>
  <!-------- navbar end ------------->



  <!-----------------body start---------------->
  <section>
    <div class="gpt3__header section__padding" id="home">
      <div class="gpt3__header-content">
        <h1 class="gradient__text">Let&apos;s Create an amazing profile for you with Findme</h1>
        <p>Find your friends and family easily with find.me</p>

        <div class="gpt3__header-content__input">
          <a href="{{ url_for('auth.register') }}" class="button">Get Started Now</a>
        </div>

        <div class="gpt3__header-content__people">
          <img src="../static/images/people.png" />
          <p>1,600 people requested access a visit in last 24 hours</p>
        </div>
      </div>

      <div class="gpt3__header-image">
        <img src="../static/images/ai.png" />
      </div>
    </div>
  
    
    <div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="left">
              <h1>Find your friends</h1>
              <p></p>
              <a href="{{ url_for('auth.register') }}" class="btn">Sign Up</a>
            </div>
          </div>
          <div class="col-6">
            <div class="right">
              <img src="../static/images/cover-pic.png">
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>


  



  <!-----------------body end---------------->
  
</body>
</html>
