<!DOCTYPE html>
<html>
<head>
  <title>find.me</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
  {% if session %}
  <html>
  <head>
  <title>find.me</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
  <nav class="navbar">
    <div class="navbar-left">
      <h1 class="fmeh1">FINDME</h1>
      <a href="." class="logo"><img src="../static/images/Gold_Luxury_Initial_Circle_Logo-removebg-preview.png"></a>

        <div class="search-box">
            <img src="../static/images/search.png">
            <input type="text" placeholder="Search">
        </div>

   </div>
   <div class="navbar-center">
     <ul>
       <li><a href="/" class="active-link"><img src="../static/images/home.png"> <span>Home</span></a></li>
       <li><a href= "#"> <img src="../static/images/network.png"> <span>My Profile</span></a></li>
       <li><a href="/logout" id="qsLogoutBtn"> <img src="../static/images/logout.png"> <span>Logout</span></a></li>
     </ul>
   </div>
  </nav>
<!--------navbar end ------------->
<section>
  <div class="header-content">
    <h1>
        Freelancers and entrepreneurs use about.me <span class="text bg-blue">to grow their audience</span>
        <span class="text nowrap">and get more clients.</span>
    </h1>
    <div class="signup-buttons-widget">
        <div class="signup-buttons">
            <button type="button" class="button large secondary light email">
                <span>Get your free page</span>
            </button>
        </div>
    </div>
</div>
  <div>
    <img src="../static/images/user-4.png" alt="user">
    <h2>Victory George</h2>
    <h3>Accountant, Musician and Public Speaker, in london</h3>
    <p>Accountant by day, Musician by night.</p>
    <p>Public Speaker by choice.</p>
    <p>Find me on:</p>
    <div>
      <a href="https://www.facebook.com/"><img src="../static/images/facebook.png" alt="facebook"></a>
      <a href="https://www.instagram.com/"><img src="../static/images/instagram.png" alt="instagram"></a>
      <a href="https://www.twitter.com/"><img src="../static/images/twitter.png" alt="twitter"></a>
      <a href="https://www.linkedin.com/"><img src="../static/images/linkedin.png" alt="linkedin"></a>
  </div>
  <div>
    <label for="Name">
      <input type="text">
    </label>
    <label for="Social Media Links">
      <input type="url">
    </label>
  </div>
</section>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Johnatan Smith</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-----------------body end---------------->

</body>
</html>           
  {% else %}
  <nav class="navbar">
	  <a href="." class="logo"><img src="../static/images/findmetxt-removebg-preview.png"></a>
    <div class="navbar-left">      
        <div class="search-box">
            <img src="../static/images/search.png">
            <input type="text" placeholder="Search">
        </div>
    </div>    
    <div class="navbar-center">
        <ul>
            <li><a href="#" class="active-link"><img src="../static/images/home.png"> <span>Home</span></a></li> 
	    <!-- <li><img src="../static/images/message.png">My Profile</a></li> -->
	    <li><a href="/login" id="qsLoginBtn"><img src="../static/images/message.png"> <span>Sign Up</span></a></li>
	    <li><a href="/login" id="qsLoginBtn"><img src="../static/images/network.png">  <span>Log in</span></a></li>
          </ul>
        
    </div>
  </nav>
  <!-------- navbar end ------------->



  <!-----------------body start---------------->
  <div class="clients">
    <img src="../static/images/client1.png" alt="">
    <img src="../static/images/client2.png" alt="">
    <!-- <img src="../static/images/client3.png" alt=""> -->
    <img src="../static/images/client4.png" alt="">
    <img src="../static/images/GitHub-Emblem-removebg-preview.png" alt="" height="80px" width="150px">
  </div>
  <section>
    <div class="gpt3__header section__padding" id="home">
      <div class="gpt3__header-content">
        <h1 class="gradient__text">Let&apos;s Create an amazing profile page for you with Findme</h1>
        <p>Find your friends and family easily with find.me</p>

        <div class="gpt3__header-content__input">
          <class="button">Get Started Now</a>
        </div>

        <div class="gpt3__header-content__people">
          <img src="../static/images/people.png" />
          <p>Over 1,600 people requested access in the last 24 hours</p>
        </div>
      </div>

      <div class="gpt3__header-image">
        <img src="../static/images/ai.png" />
      </div>
    </div>
  
    <div class="choose">
        <img src="../static/images/Gold_Luxury_Initial_Circle_Logo-removebg-preview.png" alt="logo">
      <h2>Why should you Use Our Website ?</h2>
      <p>
        This website intends to solve the problem of providing an easy and effective way for users to aggregate, manage and showcase their online presence and social media links in one place. This can include links to personal websites, social media profiles, online portfolios, and other online content that users want to share with others.
        "findme" will not solve the problem of creating or managing the online content itself, it is only meant to provide a platform for users to organize and share their existing online presence.
        This website will help a wide range of users, including professionals, freelancers, artists, and students, who want to promote their online presence and make it easy for others to find and connect with them.
        The project is not specific to a particular locale and can be used by users from any part of the world. 

      </p>
      <Button text="Read More" blue ></Button>
    </div>
  </section>
  



  <!-----------------body end---------------->

  <!-----------------footer start---------------->
  <footer>
    <div class="container">
      <div class="row">
        <div class="brand">
          <img src="../static/images/findmetxt-removebg-preview.png" alt="logo" class="logo">
        </div>
        <p class="description">Copyright Thee-Mechanics FINDME</p>
      </div>
      <div class="row">
        <h3>Our Services</h3>
        <ul class="list">
          <li>Branding</li>
          <li>Portfolio/Profile development</li>
          <li>Connections</li>
          <li>FAQ</li>
        </ul>
      </div>
  
      <div class="row">
        <h3>Contact Us</h3>
        <ul>
          <li><span>ALX NIGERIA</span></li>
          <li><span>contact@gmail.com</span></li>
          <li><span>(+234)-810-663-9984</span></li>
          <li>About Us</li>
        </ul>
      </div>
    </div>
   {% endif %}
  </footer>
</body>
</html>
